@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< CollectionSpace.Modules.cspace.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    @if (Model.Count() == 0)
    {
        <p>@Dnn.LocalizeString("No Cspace Configuration Found!")</p>
    }
    else
    {
        <ul class="tm_tl">
            @foreach (var item in Model)
            {
                <li class="tm_t">

                    <div id="cspace-browser"></div>
                    <script src="@item.ItemDescription"></script>
                    <script>
                    cspacePublicBrowser(@Html.Raw(item.ItemName)

                    );
                    </script>
                    @{
                        if (Dnn.ModuleContext.IsEditable)
                        {
                            <div>
                                <a href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.ItemId})">@Dnn.LocalizeString("EditItem")</a>
                                <a href="@Url.Action("Delete", "Item", new {itemId = item.ItemId})">@Dnn.LocalizeString("DeleteItem")</a>
                            </div>
                        }
                    }
                </li>
            }
        </ul>
    }
</div>
